@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-hauora), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-object-sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .leading-auto {
    line-height: normal;
    /* "auto" in CSS is "normal" */
  }
}